h1 {
  text-align: center;
}

#lounge {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 900px;
}

nav {
  text-align: center;
  padding-left: 10px;
  padding-right:10px;
}

figcaption {
  font-size: 80%;
  text-align: center;
}

#featured-property p {
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  text-align: center;
}

#details>h3 {
  display: block;
}
